/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  font-family: "Lato", "Arial", sans-serif;
  color: $primery-text;
  font-weight: 400;
  font-style: normal;
  background-color: #333333;
}
