/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: inline-block;
}

picture {
  display: contents;

  @media (min-width: $tablet-width) {
    display: contents;
  }

  @media (min-width: $desktop-width) {
    display: contents;
  }
}
