/* здесь используйте глобальные переменные */
$bg-basic-green: #68b738;
$bg-basic-gray: #f2f2f2;
$bg-accent-gray: #eaeaea;
$basic-dark-text: #000000;
$basic-light-text: #ffffff;
$primary-text: #444444;
$special-light-gray: #111111;
$special-dark-gray: #222222;
