/* здесь используйте глобальные переменные */
$bg-basic-green: #68b738;
$bg-basic-gray: #f2f2f2;
$bg-accent-gray: #eaeaea;
$basic-dark-text: #000000;
$basic-light-text: #ffffff;
$primary-text: #444444;
$special-light-gray: #111111;
$special-dark-gray: #222222;
$link-gray: #666666;
$link-logo-hover: #3e3e3e;
$link-logo-active: #6b6b6b;


$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

