/* здесь используйте глобальные переменные */
$bg-basic-green: #68b738;
$bg-hover-green: #5eaa2f;
$bg-basic-gray: #f2f2f2;
$bg-accent-gray: #eaeaea;
$basic-dark-text: #000000;
$basic-light-text: #ffffff;
$primary-text: #444444;
$special-light-gray: #111111;
$special-dark-gray: #222222;
$special-gray: #cdcdcd;
$link-gray: #666666;
$link-logo-hover: #3e3e3e;
$link-logo-active: #6b6b6b;
$border-gray: #d9d9d9;
$border-catalog-card: #ebebeb;
$gray-plus: #d3d3d3;
$input-border: #e7e7e7;

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-max-width: 1440px;
