
.addition {
  padding-top: 25px;
  padding-bottom: 20px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 26px;
  }
}

.addition__block {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;

    gap: 40px;
  }

  @media (min-width: $desktop-max-width) {
    gap: 80px;
  }
}

.addition__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    margin-bottom: 0;
  }
}

.addition__present {
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("../../icons/stack.svg#icon-gift");
  text-align: center;
  padding: 188px 60px 43px 58px;
  background-size: 78px 80px;
  background-repeat: no-repeat;
  background-position: center top 59px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: image-set(url("../../images/phone-images/catalog/cat-in-bag-mobile@1x.png") 1x, url("../../images/phone-images/catalog/cat-in-bag-mobile@2x.png") 2x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 71px 92px 69px 389px;
    background-position: 78px 58px;

    &::after {
      background-size: cover;
      background-position: left top -317px;
    }
  }

  @media (min-width: $desktop-width) {
    background-position: 50% 59px;
    padding: 187px 42px 43px;

    &::after {
      background-position: center;
    }
  }
}

.addition__offer {
  @include font(16px, 20px, 400);
  color: $basic-light-text;
  margin: 0 auto;
  max-width: 161px;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.addition__title {
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-bottom: 79px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    margin-left: 0;
    line-height: 50px;
  }
}
