.address {
  min-height: 474px;
  background-image:
    image-set(url("../../images/phone-images/index/mobile-map@1x.jpg") 1x,
    url("../../images/phone-images/index/mobile-map@2x.jpg") 2x);
  background-repeat: no-repeat;
  background-size: 100% 76%;
  background-position: center top 112px, bottom;
  position: relative;

  &::before {
    content: "";
    width: 56px;
    height: 53px;
    background-image:
      image-set(url("../../images/phone-images/index/mobile-map-pin@1x.png") 1x,
      url("../../images/phone-images/index/mobile-map-pin@2x.png") 2x);
    background-repeat: no-repeat;
    background-size: 56px 53px;
    position: absolute;
    top: 251px;
    left: 42%;
    z-index: 10;
  }

  @media (min-width: $tablet-width) {
    background-image:
      image-set(url("../../images/tablet-images/index/tablet-map@1x.jpg") 1x,
      url("../../images/tablet-images/index/tablet-map@2x.jpg") 2x);
    background-size: 100% 400px;
    background-position: bottom;
    min-height: 608px;

    &::before {
      width: 113px;
      height: 106px;
      background-size: 113px 106px;
      top: 346px;
      left: 333px;
    }
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(url("../../images/desktop-images/index/map-desktop@1x.jpg") 1x,
      url("../../images/desktop-images/index/map-desktop@2x.jpg") 2x);
    background-position: 100%;
    background-size: cover;
    min-height: 400px;

    &::before {
      left: 63%;
      top: 131px;
    }
  }
}

.address--background {
  background-color: $bg-basic-gray;
}

.address iframe {
  border: none;
  display: block;
  width: 100%;
  min-height: 362px;

  @media (min-width: $tablet-width) {
    min-height: 407px;
  }

  @media (min-width: $desktop-width) {
    min-height: 400px;
  }
}

.address__container {
  padding: 25px 0;

  @media (min-width: $tablet-width) {
    padding: 60px 39px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    position: relative;
  }
}

.address__container--catalog {
  @media (min-width: $tablet-width) {
    padding: 60px 39px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.address__block {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    width: 46%;
    padding: 60px 25px;
    background-color: $basic-light-text;
    position: absolute;
    top: 91px;
    left: 0;
  }

  @media (min-width: $desktop-max-width) {
    padding: 60px 75px 60px 80px;
  }
}

.address__block--catalog {
  @media (min-width: $desktop-width) {
    top: 95px;
  }
}

.address__offer {
  @include font(16px, 20px, 400);
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: $special-light-gray;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 163px;
  }
}

.address__location {
  @include font(14px, 20px, 400);
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    max-width: 157px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.address__location > span {
  display: block;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-bottom: 19px;
  }
}
