.button {
  @include font(16px, 20px, 400);
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: $basic-light-text;
  background-color: $bg-basic-green;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 44px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    background-color: $bg-hover-green;
  }

  &:active {
    color: rgba($color: rgb(255, 255, 255), $alpha: 0.3);
  }
}
