.card {
  min-height: 184px;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    height: auto;
    padding: 0;
    padding-bottom: 40px;
    padding-top: 10px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 16%, rgba(242, 242, 242, 1) 16%, rgba(242, 242, 242, 1) 100%);
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 38px;
  }
}

.card__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  @media (min-width: $tablet-width) {
    width: 77%;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 82%;
  }
}

.card__link {
  text-decoration: none;
  max-width: 80px;
  transition: opacity 0.3s ease-in-out;
  grid-column: 2 / -1;

  @media (min-width: $tablet-width) {
    max-width: 135px;
    text-align: center;
    margin: 0 auto;
    padding-top: 19px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 9px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}


.card__link-image {
  grid-row: 1 / 3;
  transition: opacity 0.3s ease-in-out;

  @media (min-width: $tablet-width) {
    order: -1;
    text-align: center;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.card__title {
  @include font(16px, 20px, 400);
  font-family: "Oswald", "Arial", sans-serif;
  color: $special-dark-gray;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.card__description-product {
  margin: 0;
  grid-row: 2 / 3;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 24px;
    min-width: 169px;
    margin: 0 auto;
  }
}

.card__button {
  grid-column: 1 / -1;
  grid-row: 3/4;
  align-self: end;
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
    max-width: 169px;
    margin-top: 22px;
  }
}
