.comment {
  border: none;
  margin-bottom: 23px;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    width: 500px;
    height: 2px;
    background-color: $bg-basic-green;
    top: 17px;
    left: 49%;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;

    &::after {
      width: 1000px;
      top: 24px;
      left: 38%;
    }

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: $bg-basic-green;
      top: 24px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;

    &::after {
      left: 25%;
    }
  }
}

.comment .container {
  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.comment__legend {
  line-height: 26px;
  padding: 0;
  margin-bottom: 38px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 87px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 78px;
  }
}

.comment__textarea {
  @include font(16px, 18px, 400);
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  border: 1px solid $input-border;
  width: 100%;
  min-height: 150px;
  padding: 14px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    min-height: 175px;
  }
}
