
.contacts__list {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}


.contacts__input--email {
  background-image: url("../../icons/stack.svg#icon-email");
  background-repeat: no-repeat;
  width: 217px;
}

.contacts__input--phone {
  background-image: url("../../icons/stack.svg#icon-phone");
  background-repeat: no-repeat;
  width: 200px;
}
