
.contacts {
  border: none;
  padding-bottom: 24px;
  position: relative;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 63px;
  }
}

.contacts__legend {
  padding: 0;
  line-height: 26px;
  margin-bottom: 35px;

  &::after {
    left: calc(100% + 25px);
    top: 16px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 44px;
    margin: 0 38px;
    margin-bottom: 71px;

    &::before,
    &::after {
      top: 24px;
    }

    &::after {
      left: calc(100% + 40px);
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 73px;
  }
}

.contacts__legend .contacts__legend-break {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.contacts__legend span {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.contacts__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    padding: 0;
    justify-content: space-between;
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  gap: 13px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.contacts__input {
  padding: 14px 15px;
  padding-bottom: 11px;
  border: 1px solid $input-border;
  flex-grow: 1;
  transition: border-color 0.3s ease-in-out;
  position: relative;

  &:hover {
    border: 1px solid $special-gray;
  }

  &:focus-visible {
    outline: 2px solid $primary-text;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 19px;
  }
}

.contacts__input-icon {
  background-color: $basic-dark-text;
  width: 20px;
  height: 20px;
  mask-repeat: no-repeat;
  top: 50%;
  right: 11px;
  transform: translateY(-50%);
  transition: background-color 0.3s ease-in-out;

  @media (min-width: $tablet-width) {
    right: 13px;
  }

  @media (min-width: $desktop-width) {
    right: 18px;
  }
}

.contacts__item--email {
  position: relative;
}

.contacts__email {
  mask-image: url("../../icons/stack.svg#icon-email");
  position: absolute;
}

.contacts__item--phone {
  position: relative;
}

.contacts__phone {
  mask-image: url("../../icons/stack.svg#icon-phone");
  position: absolute;
}

.contacts__input--email {
  @media (min-width: $desktop-width) {
    width: 494px;
  }
}

.contacts__input--phone {
  @media (min-width: $desktop-width) {
    width: 472px;
  }
}

.contacts__input:hover + .contacts__input-icon {
  background-color: $bg-basic-green;
}

.contacts__input:focus-visible + .contacts__input-icon {
  background-color: $bg-basic-green;
}
