.control {
  position: relative;
  display: block;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    padding-left: 58px;
  }
}

.control__mark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid $special-gray;
  border-radius: 50%;
  transition: border-color 0.3s ease-in-out;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.control:hover .control__mark {
  border-color: $radio-button-hover;
}


.control__input[type="radio"]:checked + .control__mark::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $bg-basic-green;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.control__input[type="radio"]:checked + .control__mark {
  border-color: $radio-button-hover;
}

.control__input:disabled + .control__mark {
  opacity: 0.3;
}

.control__input:disabled ~ .control__label-name {
  opacity: 0.3;
}
