
.description__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 250px 250px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 250px);
  }
}


.description__subtitle {
  @include font(14px, 18px, 400);
}

.description__item {
  background-color: $bg-basic-green;
}

.description__item--leaf {
  background-image: url("../../icons/stack.svg#leaf");
}


.description__item--water {
  background-image: url("../../icons/stack.svg#water");
}

.description__item--fork {
  background-image: url("../../icons/stack.svg#fork");
}

.description__item--scale {
  background-image: url("../../icons/stack.svg#scale");
}
