
.description {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-bottom: 103px;
    margin-bottom: 0;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    border: none;
    margin-bottom: 123px;
  }
}

.description__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: chapter;

  counter-reset: chapter;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 247px 249px;
    grid-template-rows: repeat(2, auto);
    gap: 55px 137px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: auto;
    gap: 15px;
  }

  @media (min-width: $desktop-max-width) {
    grid-template-columns: repeat(4, 250px);
    gap: 75px;
  }
}

.description__title {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.description__subtitle {
  @include font(14px, 18px, 400);
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.description__subtitle--scale > .line-break {
  display: none;
}

@media (min-width: $tablet-width) {
  .description__subtitle--scale > .line-break {
    display: block;
  }
}

.description__item {
  min-height: 60px;
  background-repeat: no-repeat;
  padding-left: 79px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: $bg-basic-green;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-top: 153px;

    &::before {
      width: 80px;
      height: 80px;
      top: 42px;
    }

    &::after {
      @include font(280px, 280px, 400);
      font-family: "Oswald", "Arial", sans-serif;
      counter-increment: chapter;
      content: counter(chapter);
      color: $bg-basic-gray;
      position: absolute;
      top: 0;
      right: 6px;
      z-index: -1;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.description__item--leaf {
  background-image: url("../../icons/stack.svg#leaf");
  background-size: 30px 32px;
  background-position: top 14px left 14px;

  @media (min-width: $tablet-width) {
    background-position: 23px 67px;
    max-width: 230px;

    &::after {
      top: 2px;
      right: 6px;
    }

    &::before {
      left: -1px;
    }
  }
}

.description__item--water {
  background-image: url("../../icons/stack.svg#water");
  background-size: 26px 29px;
  background-position: top 14px left 16px;

  @media (min-width: $tablet-width) {
    background-position: top 68px left 27px;
    max-width: 246px;

    &::after {
      top: 2px;
      right: 1px;
    }
  }
}

.description__item--fork {
  background-image: url("../../icons/stack.svg#fork");
  background-size: 25px 30px;
  background-position: top 14px left 17px;

  @media (min-width: $tablet-width) {
    background-position: 27px 103px;
    max-width: 247px;
    padding-top: 190px;

    &::before {
      top: 79px;
      left: -1px;
    }

    &::after {
      top: 39px;
      right: 1px;
    }
  }

  @media (min-width: $desktop-width) {
    background-position: 28px 70px;
    padding-top: 154px;

    &::before {
      top: 43px;
    }

    &::after {
      top: 1px;
      right: 0;
    }
  }
}

.description__item--scale {
  background-image: url("../../icons/stack.svg#scale");
  background-size: 26px 31px;
  background-position: top 14px left 17px;

  @media (min-width: $tablet-width) {
    background-position: 27px 103px;
    max-width: 249px;
    padding-top: 190px;

    &::before {
      top: 79px;
    }

    &::after {
      top: 40px;
      right: 1px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 155px;
    background-position: 27px 68px;

    &::before {
      top: 44px;
    }

    &::after {
      top: 2px;
    }
  }
}
