.description-product {
  @include font(12px, 16px, 400);

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.description-product__wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $special-gray;
    margin-bottom: 7px;
    padding-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.description-product__value {
  margin: 0;
}
