.footer__offer {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-light-gray;
}

.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.footer__developer-link {
  color: $primery-text;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

