.footer {
  background-color: $bg-basic-gray;
  padding-top: 38px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 52px;
  }
}

.footer--index {
  @media (min-width: $tablet-width) {
    padding-top: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 52px;
  }
}

.footer__offer {
  @include font(16px, 20px, 400);
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: $special-light-gray;
}

.footer__address {
  @include font(14px, 20px, 400);
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: start;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.footer__navigation--index .footer__logo-link {
  @media (min-width: $tablet-width) {
    margin-top: 6px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    margin-top: 0;
    margin-right: 39px;
  }
}

.footer__logo-link {
  transition: color 0.3s ease;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-right: 135px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 45px;
    padding-top: 7px;
  }
}

.footer__logo-link:hover {
  color: $link-logo-hover;
}

.footer__logo-link:focus {
  outline: none;
  color: $link-logo-hover;
}

.footer__logo-link:active {
  color: $link-logo-active;
}


.footer__developer-link {
  @include font(16px, 20px, 400);
  color: $primary-text;
  text-decoration: none;
  width: 100%;
  min-height: 34px;
  padding-top: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    width: 168px;
  }
}

.footer__social {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__developer-logo {
  display: block;
  height: 34px;
  width: 29px;
  background-color: $link-gray;
  mask-image: url("../../icons/stack.svg#logo-html");
  mask-size: 27px 34px;
  mask-repeat: no-repeat;
  mask-position: right;
  transition: background-color 0.3s ease;
}

.footer__social {
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
  border-top: 1px solid $border-gray;
  border-bottom: 1px solid $border-gray;

  @media (min-width: $tablet-width) {
    border: none;
    max-width: 184px;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    padding-top: 22px;
  }
}

.footer__social--index {
  @media (min-width: $desktop-width) {
    padding-top: 18px;
  }
}

.footer__developer-link .footer__developer-name {
  @media (min-width: $tablet-width) {
    width: 120px;
    padding-left: 7px;
  }
}

.footer__developer-link .footer__developer-logo {
  @media (min-width: $tablet-width) {
    width: 27px;
  }
}

.footer__developer-link:hover .footer__developer-logo {
  background-color: $bg-basic-green;
}

.footer__developer-link:focus {
  outline: none;
}

.footer__developer-link:focus .footer__developer-logo {
  background-color: $bg-basic-green;
}

.footer__developer-link:active {
  opacity: 0.3;
}

.footer--catalog {
  background-color: $bg-basic-gray;
}
