.footer__offer {
  @include font(16px, 20px, 400);
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: $special-light-gray;
}

.footer__address {
  @include font(14px, 20px, 400);
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.footer__navigation {
  background-color: $bg-basic-gray;
}

.footer__developer-link {
  @include font(16px, 20px, 400);
  color: $primery-text;
  text-decoration: none;
}

.footer--catalog {
  background-color: $bg-basic-gray;
}

