.hero {
  background-image:
    linear-gradient(45deg, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    image-set(url("../../images/phone-images/index/mobile-hero-background@1x.jpg") 1x,
    url("../../images/phone-images/index/mobile-hero-background@2x.jpg") 2x);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  position: relative;
  height: 302px;
  margin-bottom: 200px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    background-image: none;
    padding-top: 60px;
    height: 810px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    height: 694px;
    background-image:
      linear-gradient(45deg, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(url("../../images/desktop-images/index/hero-background-desktop@1x.png") 1x,
      url("../../images/desktop-images/index/hero-background-desktop@2x.png") 2x);
    background-size: 50%;
    background-position: right;
    margin-bottom: 82px;
  }
}

.hero__container {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.hero__title {
  color: $basic-light-text;
  line-height: 36px;
  width: 250px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    color: $basic-dark-text;
    width: 416px;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-top: 224px;
  }
}

.hero__description {
  @include font(14px, 14px, 400);
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: $basic-light-text;
  margin: 0 auto;
  width: 200px;

  @media (min-width: $tablet-width) {
    color: $basic-dark-text;
    font-size: 20px;
    line-height: 20px;
    width: 285px;
    margin: 0;
    margin-bottom: 50px;
  }
}

.hero__product {
  position: absolute;
  top: 167px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    z-index: -1;
    top: 190px;
  }

  @media (min-width: $desktop-width) {
    z-index: 10;
    top: 143px;
    left: 723px;
  }
}

.hero__button {
  position: absolute;
  top: 440px;
  width: 100%;

  @media (min-width: $tablet-width) {
    position: static;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
    max-width: 244px;
  }
}
