.images-cat {
  width: 280px;
  min-height: 256px;
  position: relative;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  --position: 50%;

  @media (min-width: $tablet-width) {
    width: 560px;
    min-height: 512px;
    left: 279px;
  }
}

.images-cat__before {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--position);
  height: 100%;
  overflow: hidden;
  z-index: 10;
  background-color: $bg-accent-gray;

  @media (min-width: $tablet-width) {
    background:
      linear-gradient(180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 30%,
      rgba(234, 234, 234, 1) 30%,
      rgba(234, 234, 234, 1) 100%);
  }
}

.images-cat__slider {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 20;
}

.images-cat__after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    border-radius: 2px;
    width: 4px;
    height: 256px;
    background-color: $link-gray;
    position: absolute;
    top: 0;
    left: var(--position);
    transform: translateX(-50%);
    z-index: 10;
    cursor: e-resize;
  }

  &::after {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $link-gray;
    background-color: $basic-light-text;
    position: absolute;
    top: 50%;
    left: var(--position);
    z-index: 10;
    transform: translate(-50%, -50%);
    cursor: e-resize;
    background-image: url("../../icons/stack.svg#slider");
  }

  @media (min-width: $tablet-width) {
    &::before {
      min-height: 512px;
    }
  }
}
