.item-product {
  font-size: 14px;
  line-height: 14px;
}

.item-product__title {
  @include font(16px, 16px, 400);
  font-family: "Oswald", "Arial", sans-serif;
  color: $special-dark-gray;
  text-transform: uppercase;
}
