.item-product {
  font-size: 14px;
  line-height: 14px;
}

.item-product__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $special-dark-gray;
  text-transform: uppercase;
}
