
.main-nav {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  z-index: 15;
  background-color: $basic-light-text;

  @media (min-width: $tablet-width) {
    position: static;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.main-nav--closed {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    min-width: 440px;
  }
}
