
.main-header {
  position: absolute;
  z-index: 1;
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;


  @media (min-width: $tablet-width) {
    padding: 0;
    width: 704px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}


.main-header__logo-link {
  transition: opacity 0.3s ease;
  text-decoration: none;

}

.main-header__logo-link:hover,
.main-header__logo-link:focus {
  opacity: 0.8;
}

.main-header__logo-link:active {
  opacity: 0.6;
}
