.news {
  padding-top: 22px;
  padding-bottom: 40px;
  position: relative;

  &::after {
    content: "";
    width: 34%;
    height: 2px;
    background-color: $bg-basic-green;
    position: absolute;
    top: 31px;
    right: 0;
  }

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 79px;


    &::before {
      content: "";
      width: 5%;
      height: 2px;
      background-color: $bg-basic-green;
      position: absolute;
      top: 76px;
      left: 0;
    }

    &::after {
      width: 59%;
      top: 76px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
    padding-bottom: 103px;

    &::before {
      top: 92px;
    }

    &::after {
      width: 69%;
      top: 80px;
    }
  }

  @media (min-width: $desktop-max-width) {
    &::after {
      width: 72%;
      max-width: 1052px;
      top: 92px;
    }
  }
}

.news__form {
  @media (min-width: $tablet-width) {
    max-width: 632px;
    margin: 0 auto;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    max-width: 752px;
  }
}

.news__title {
  margin-bottom: 31px;

  &::after {
    left: 212px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    margin-bottom: 66px;

    &::after {
      left: 41%;
      width: 59%;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    margin-bottom: 72px;
  }
}

.news__subtitle {
  @include font(16px, 24px, 400);
  font-family: "Oswald", sans-serif;
  color: $basic-dark-text;
  margin: 0;
  text-align: center;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
    max-width: 524px;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
    margin-bottom: 23px;
  }
}

.news__subscription {
  @include font(20px, 30px, 400);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  width: 100%;
  padding: 13px;
  padding-left: 11px;
  color: $primary-text;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.news__button {
  border: none;
  width: 100%;
  padding: 15px 82px;
  font-size: 20px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    padding: 15px 70px;
    width: 256px;
  }
}
