.result {
  background-color: $bg-accent-gray;
}

.result__subtitle {
  @include font(14px, 18px);
}

.result__number {
  @include font(24px, 24px, 400);
  font-family: "Oswald", "Arial", sans-serif;
}

.result__text {
  @include font(12px, 12px, 400);
}

.result__expenses {
  @include font(14px,20px, 400);
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: $basic-dark-text;
}
