
.site-list--accent {
  color: $basic-dark-text;

  @media (min-width: $desktop-width) {
    color: $basic-light-text;
    background-color: $bg-basic-green;
  }
}


.site-list__link {
  @include font(20px, 20px, 400);
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;

  color: inherit;

  text-decoration: none;
}
