
.site-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 34px;
  }

  @media (min-width: $desktop-width) {
    max-width: 500px;
    gap: 35px;
  }
}

.site-list__item {
  text-align: center;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.site-list--accent {
  color: $basic-dark-text;

  @media (min-width: $desktop-width) {
    color: $basic-light-text;
  }
}

.site-list--catalog {
  @media (min-width: $desktop-width) {
    color: $basic-dark-text;
  }
}

.site-list__link {
  @include font(20px, 20px, 400);
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 24px;
  display: block;
  transition: opacity 0.3s ease-in-out, text-shadow 0.3s ease-in-out;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
    padding-bottom: 13px;
  }

  &:hover {
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    opacity: 0.55;
  }

  &:active {
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    opacity: 0.35;
  }
}

.site-list__link--current {
  position: relative;

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 2px;
      background-color: $bg-basic-green;
    }

    @media (min-width: $desktop-width) {
      background-color: $basic-light-text;
    }
  }
}

.site-list__link--current-catalog {
  @media (min-width: $desktop-width) {
    &::after {
      content: "";
      background-color: #68b738;
      height: 2px;
      display: block;
    }
  }
}
