
.social {
  width: 132px;
  display: flex;
  justify-content: space-between;
}


.social__link {
  display: block;
  background-color: $link-gray;
  width: 28px;
  height: 22px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.social__link--vkontakte {
  mask-image: url("../../icons/stack.svg#vkontakte");
}

.social__link--youtube {
  mask-image: url("../../icons/stack.svg#youtube");
}

.social__link--telegram {
  mask-image: url("../../icons/stack.svg#telegram");
}

.social__link:hover,
.social__link:focus {
  background-color: $bg-basic-green;
}

.social__link:active {
  opacity: 0.3;
}
