.subtitle {
  @include font(24px, 24px, 400);
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-dark-text;
  margin: 0;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    @include font(32px, 32px, 400);
  }

  @media (min-width: $desktop-width) {
    @include font(40px, 40px, 400);
  }
}
