.title {
  @include font(36px, 40px, 400);
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-dark-text;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
